- pages = pages || 1
- pageCur = pageCur || 1
- paramPage = (path.indexOf("?")=="-1") ? path + '?page=' : path + '&page='
//- - console.log(path)
//- - console.log(paramPage)
if pages >1
  .m-page.page-skin-0
    .m-page-total
      span.m-page-total-page 共#{pages}页
    .m-page-pn
      a.m-page-pn_disabled(href= paramPage+'1') 首页
      if pageCur < 2
        span.m-page-pn-current #{pageCur}
        if pageCur < pages
        a(href = paramPage + (pageCur+1)+'') #{pageCur+1}
        span.m-page-pn-ellipsis ...
      else
        a(href = paramPage + (pageCur-1)+'') #{pageCur-1}
        span.m-page-pn-current #{pageCur}
        if pageCur < pages
          a(href = paramPage + (pageCur+1)+'') #{pageCur+1}
        span.m-page-pn-ellipsis ...
      a(href = paramPage + pages+'') 尾页