extends layout

block content
  .c-box
    .c-box-hd
      .c-box-hd-title
        h3 数据导出
      .c-box-hd-extra
        a.m-btn.btn-skin-1(href='/task') 返回需求列表
    .c-box-bd
      // .m-remind-box:到处周报
      .m-remind-box.export-data-box
        .m-remind-box-hd
          h3 导出周报
        .m-remind-box-bd
          form#exportDataFormGroup.export-data-form(method='get',action='/export')
            p
              label(for='weeklyStarDate') 请选择时间段：
              input#taskStarDate.m-input.inp-txt.date-picker(name='taskStarDate', type='text', placeholder='重构开始时间')
              span 至
              input#taskEndDate.m-input.inp-txt.date-picker(name='taskEndDate', type='text', placeholder='重构结束时间')
            p
              if roles == 2
                input.m-btn.btn-skin-2(type='submit', value='查询大组周报')
              else
                input.m-btn.btn-skin-2(type='submit', value='查询本人周报')
      
      if docs && docs.length
        form#taskExportForm(method="POST",action="/excel")
          table.export-task-table(style="border-collapse:collapse;width:100%;border-left:1px solid #000;border-top:1px solid #000;margin:0 0 1em;")
            colgroup
              col.c2
              col.c4
              col.c5
              col.c6
              col.c7
              col.c8
              col.c9
              col.c10
            thead
              tr
                th 需求名称
                th.tcenter 页面数
                th.tcenter 开始时间
                th.tcenter 完成时间
                th.tcenter 进度
                th.tcenter 网站人员
                th.tcenter 接口人
                th 其它说明
            tbody
              for ppp in projectName
                tr
                  td(style="color:#ffffff;background:#333333;font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                    span= ppp.name
                  td(style="color:#ffffff;background:#333333;text-align:center;font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                    span
                  td(style="color:#ffffff;background:#333333;text-align:center;font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                    span
                  td(style="color:#ffffff;background:#333333;text-align:center;font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                    span
                  td(style="color:#ffffff;background:#333333;font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                    span
                  td(style="color:#ffffff;background:#333333;font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                    span
                  td(style="color:#ffffff;background:#333333;font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                    span
                  td(style="color:#ffffff;background:#333333;font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                    span
                for weekly in docs
                  if weekly.type == ppp.id
                    //- tr(class="#{weekly.progress == 100 ? 'finish':''}")
                    tr(style="#{weekly.progress == 100 ? 'background-color: #ccffcc;':''}")
                      td(style="font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                        span= weekly.title
                      td(style="text-align:center;font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                        span.editable(data-name="pages",style="text-align:center")= weekly.pages
                      td(style="text-align:center;font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                        span.editable(data-name="rb_star_date")= weekly.rb_star_date ? weekly.rb_star_date.toISOString().replace(/T/, '').replace(/\..+/, '').substr(0,10) : '请排期'
                      td(style="text-align:center;font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                        span.editable(data-name="rb_end_date")= weekly.rb_end_date ? weekly.rb_end_date.toISOString().replace(/T/, '').replace(/\..+/, '').substr(0,10) : '请排期'
                      td(style="font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                        //- span.editable(data-name="progress")= weekly.progress ? weekly.progress+'%' : 'N/A'
                        span.editable(data-name="progress")= weekly.progress != 0 ? weekly.progress+'%' : '---'
                        //- span %
                      //- td.tcenter= weekly.online_date.toISOString()
                      td(style="font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                        span.editable(data-name="pp")= weekly.pp
                      td(style="font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                        span.editable(data-name="pm")= weekly.pm
                      td(style="font-family:Microsoft YaHei;padding:4px 8px;line-height: 28px;border-right:1px solid #000;border-bottom:1px solid #000;")
                        span.editable(data-name="direction")= weekly.direction
          p.tright
            input.m-btn.btn-skin-2(type='submit', value='导出Excel文件')
          p.output-textarea
            input#outputDataRange.m-input(name="outputDataRange",type="hidden")
            textarea#outputCols.m-input.invisible(name="outputCols",rows="4",cols="100")
            textarea#outputRows.m-input.invisible(name="outputRows",rows="4",cols="100")
      else
        //- .empty-data -->
        .empty-data
          p 抱歉，暂时没有查询到相关需求。



block pageScript
  script(src="/js/jquery/jquery.json-2.4.js")
  script.
    (function(){
      
      // 获取URL的param值
      function GetQueryStringParams(sParam){
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++){
          var sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] == sParam){
              return sParameterName[1];
          }
        }
      }

      function onDomReady(){
        //- current nav 
        $(".nav-ul li").eq(2).addClass("current");
        
        //- taskStarDate placeholder fill ------------------------
        var taskStarDate = GetQueryStringParams('taskStarDate'),
            taskEndDate = GetQueryStringParams('taskEndDate');
        if(taskStarDate){
          $("#taskStarDate").val(taskStarDate)
        }
        if(taskEndDate){
          $("#taskEndDate").val(taskEndDate)
        }
        //处理记录时间范围并存入 #outputDataRange
        $("#outputDataRange").val(taskStarDate+"_"+taskEndDate);

        //- datepicker func ------------------------
        $('.date-picker').datepicker({ dateFormat: "yy-mm-dd" });


        //- Submit func ------------------------
        $("#taskExportForm").on('submit',function(e){
          //- 表格th数据处理成 [{},{},{}……] 的格式
          var colsData = [],
              colsTh = $(this).find("th"),
              colsLength = colsTh.length;
          colsTh.each(function(i){
            var dd = {};
                dd.caption = $(this).html();
                dd.type = "string";
            colsData.push(dd);
          })
          //- 数据json化(使用jquery.json插件)
          colsData = $.toJSON( colsData )
          console.dir(colsData);
          //- 数据存入textarea#outputCols
          $("#outputCols").val(colsData);
          
          //- 表格内容数据处理成 [[],[],[]……] 的格式
          var rowsData = [],
              rowsTd = $(this).find("td"),
              rowsNum = $(this).find("tr").length - 1;  //检索出来的记录条数;
          for(var j = 1 ; j<=rowsNum; j++ ){
            var dd = [],
                star = (j-1)*colsLength;
            for( var i = star; i<j*colsLength; i++ ){
              var tdData = rowsTd.eq(i).find("span").html();
              dd.push(tdData);
            }
            rowsData.push(dd);
          }
          //- 数据json化(使用jquery.json插件)
          rowsData = $.toJSON( rowsData )
          console.dir(rowsData);
          //- 数据存入textarea#outputRows
          $("#outputRows").val(rowsData);

          return true;
        });
      }
      $(onDomReady);
    })()