extends layout

block content
  //- h1= title
  //- p Welcome to #{title}

  //- [c-box:需求情况]
  div.c-box.task-status
    .c-box-hd
      .c-box-hd-title
        h3 本周需求情况(管理者视图)
        - var groupText = ['未知组','重构1组','重构2组','重构3组','设计1组','设计2组','设计3组']
    if taskDocs.length
      .c-box-bd
        p.tips
          | 您所在团队
          span.blue
            em= groupText[group]
          | 本月需求总数
          strong.orange= taskStatus.len
          | 个（
          | 完成:
          strong.orange= taskStatus.finish
          | ,CP:
          strong.orange= taskStatus.CP
          | ，重点:
          strong.orange= taskStatus.focus
          | ）
          span.gray --截止到#{dateNow()}
        - var d1 = taskStatus.finish / taskStatus.len;
        - var deg1 = 360 * d1;
        - var int2 = Math.round(100 * (taskStatus.CP / taskStatus.len));
        - var deg2 = Math.round(360 * (taskStatus.CP / taskStatus.len));

        //- p= deg1
        ul.tasks-stat-charts
          li.tsc-item.tsc-skin-1
            .tsc-round(data-note='')
              .tsc-round-percent
                span.int #{taskStatus.finish}
                span.dec &sol;#{taskStatus.len}
              .tsc-round-rate(class="#{d1 >= 0.5 ? 'gt50':''}")
                .pie(style='-webkit-transform: rotate('+ deg1 +'deg);')
                .pie.fill(style='-webkit-transform: rotate('+ deg1 +'deg);')
            .tsc-txt 本月需求完成情况
          li.tsc-item.tsc-skin-2
            .tsc-round(data-note='')
              .tsc-round-percent
                span.int #{int2+'%'}
              .tsc-round-rate(class="#{int2 >= 50 ? 'gt50':''}")
                .pie(style='-webkit-transform: rotate('+ deg2 +'deg);')
                .pie.fill(style='-webkit-transform: rotate('+ deg2 +'deg);')
            .tsc-txt 本月CP需求占比
          li.tsc-item.tsc-skin-3
            .tsc-round(data-note='')
              .tsc-round-percent
                span.int #{taskStatus.focus}
              .tsc-round-rate.gt50
                .pie(style='-webkit-transform: rotate(360deg);')
                .pie.fill(style='-webkit-transform: rotate(360deg);')
            .tsc-txt 本月重点需求数
          li.tsc-item.tsc-skin-4.unavailable
            .tsc-round(data-note='')
              .tsc-round-percent
                span.int ?
              .tsc-round-rate.gt50
                .pie(style='-webkit-transform: rotate(360deg);')
                .pie.fill(style='-webkit-transform: rotate(360deg);')
            .tsc-txt 本月服务满意度（敬请期待）

    else
      .c-box-bd
        p.tips
          | 您所在团队
          span.blue
            em= groupText[group]
            | ，
          strong.orange 本月暂无排期需求。


  //- [c-box:快速导航]
  div.c-box
    .c-box-hd.quick-nav-home
      .c-box-hd-title
        h3 快速导航
    .c-box-bd
      ul.quick-nav-home-ul
        li
          a(href='/task/create')
            i.icon.icon-bulb
            | 新建需求
          i.heightlight
        li
          a(href='http://qcp.oa.com', target='_blank')
            i.icon.icon-bulb
            | 新建CP需求
          i.heightlight
        li
          a(href='/task')
            i.icon.icon-eye
            | 查看需求列表
          i.heightlight
  
  //- [c-box:使用入门]
  div.c-box
    .c-box-hd.quick-nav-home
      .c-box-hd-title
        h3 使用入门
    .c-box-bd            
      div.get-started
        fieldset.get-started-box
          legend 产品/品牌经理 入门
          dl
            dt Q：如何录入需求？
            dd
              | A：视频录入方法，请 
              a(href="http://v.qq.com/boke/page/g/7/d/g0126rhbl7d.html",target="blank") 观看视频
            dt.gray Q：如何查看及更新需求？（敬请期待）
            dt.gray ...
        fieldset.get-started-box
          legend 设计/重构/动画师 入门
          dl
            dt 5分钟教你如何录入需求
            dd
              a(href="http://v.qq.com/boke/page/g/7/d/g0126rhbl7d.html",target="blank") 观看视频
            dt.orange 6分钟教你查看及更新需求？(new)
            dd
              a(href="http://v.qq.com/boke/page/c/5/2/c0126z0at52.html",target="blank") 观看视频
            dt.gray ...

block pageScript
  link(rel='stylesheet', href='/js/fullcalendar/fullcalendar.css')
  script(src="/js/fullcalendar/fullcalendar.js")
  script(src="/js/app/index/index.js")