doctype 5
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    title Tgideas - 需求管理系统
    meta(name="author",content="sonichuang@tencent.com")
    meta(name="Copyright",content="Tencent Tgideas")
    meta(name="Description",content="Tgideas - 需求管理系统")
    link(rel='stylesheet', href='/css/jquery-ui.min.css')
    link(rel='stylesheet', href='/css/comm.css')
  body
    div.page
      .header
          h1.mtitle 需求管理系统 v1.0
          .navigation(role='navigation')
            ul.nav-ul
              li
                a(href='/') 系统首页
              li
                a(href='/task') 需求管理
              li
                a(href='/export') 数据导出
              li
                a(href='/setting-project') 系统设置
          .user-info
            if user
            .user-info-avatar
              img(src='http://r.hrc.oa.com/photo/100/#{user.rtx}.png', width='36', height='36', alt='sonichuang')
            .user-info-txt
              p
                span#userRtx= user.rtx
                span.gray (#{user.nick})
                //- - var local = "localhost:3000"
              p
                span#userRoles.gray(data-roles="#{roles}") 角色未定义
                | [
                //- a(href='http://www.oa.com/api/loginout.ashx?ref='+local) 退出
                a(href='/logout') 退出
                | ]
              //- p #{user.uid}
      div.content
        block content

    //- m-dialog (角色选择弹层)
    div.m-dialog.dialog-select-roles
      .m-dialog-box
        form#selectRolesForm.select-roles-form(action='')
          .m-dialog-hd
            h3 第一次来？请选择您的角色
          .m-dialog-bd
            p.tcenter.user-enname
              span 英文名 
              input#userRtxName.inp-txt(value='#{user.rtx}',readonly='true')
              input#userRolesSet(name='roles',type='hidden',value='0')
              input#userCreateDate(name="create_date",type='hidden',value="#{Date()}")
            ul.user-select-roles
              li
                label(for='userRolesPD')
                  img(src='../img/role-pm.png', alt='我是产品经理', width='142', height='170')
                h4 产品经理
                p.tcenter
                  input#userRolesPD(type='radio', value='1', name='userRolesSelect')
                p.tcenter
                  select#userProject(name='project')
                    option(value='0', selected='selected') 请选项您负责的项目
              li
                label(for='userRolesRB')
                  img(src='../img/role-web.png', alt='我是网页重构', width='142', height='170')
                h4 网页重构师
                p.tcenter
                  input#userRolesRB(type='radio', value='3', name='userRolesSelect')
                p.tcenter
                  select#userGroup(name='group')
                    option(value='0', selected='selected') 请选项组别
                    option(value='1') 重构一组
                    option(value='2') 重构二组
                    option(value='3') 重构三组
              li(style='opacity:0.4')
                label(for='userRolesDN')
                  img(src='../img/role-ps.png', alt='我是网页重构', width='142', height='170')
                h4 网页设计师
                p.tcenter 角色功能开发中
          .m-dialog-ft
            p.user-select-roles-btn
              input.m-btn.btn-skin-1(type='submit', value='确认确色')

    .footer
      p.copyright
        | Copyright © 1998-2013 TENCENT.ALL RIGHT RESERVED.
        span
          | Power by:
          a(href='#') Tgideas.qq.com
          | {架构二组}

    script(src="/js/jquery/jquery-1.7.2.min.js")
    script(src="/js/jquery/ui/jquery-ui-1.10.3.custom.min.js")
    script(src="/js/app/comm/app-ajax.js")
    script(src="/js/app/user/user.js")
    //- script(src="/js/jquery/jquery.ui.datepicker.js")
    //- script(src="/js/comm.js")
    block pageScript
