doctype 5
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    title Tgideas - 需求管理系统
    meta(name="author",content="sonichuang@tencent.com")
    meta(name="Copyright",content="Tencent Tgideas")
    meta(name="Description",content="Tgideas - 需求管理系统")
    link(rel='stylesheet', href='/css/jquery-ui.min.css')
    link(rel='stylesheet', href='/css/comm.css')
  body
    div.page
      .header
          h1.mtitle 需求管理系统 v1.0
          .navigation(role='navigation')
            ul.nav-ul
              li
                a(href='/') 系统首页
              li
                a(href='/task') 需求管理
              li
                a(href='/export') 数据导出
              li
                a(href='/setting-project') 系统设置
          .user-info
            if user
            //- p= user.nick
              a.navbar-link(href="http://km.oa.com/user/#{user.rtx}") #{user.rtx}(#{user.nick})

            .user-info-avatar
              img(src='http://r.hrc.oa.com/photo/100/#{user.rtx}.png', width='36', height='36', alt='sonichuang')
            .user-info-txt
              p
                //- | 
                span#userRtx= user.rtx 
                span.gray (#{user.nick})
                - var local = "localhost:3000"
              //- p 重构角色
              p
                span#userRoles.gray
                | [
                a(href='http://www.oa.com/api/loginout.ashx?ref='+local) 退出
                | ]
              //- p #{user.uid}
      div.content
        block content

    .footer
      p.copyright
        | Copyright © 1998-2013 TENCENT.ALL RIGHT RESERVED.
        span
          | Power by:
          a(href='#') Tgideas.qq.com
          | {架构二组}

    script(src="/js/jquery/jquery-1.10.2.min.js")
    script(src="/js/jquery/ui/jquery-ui-1.10.3.custom.min.js")
    script(src="/js/app/comm/app-ajax.js")
    //- script(src="/js/app/user/user.js")
    //- script(src="/js/jquery/jquery.ui.datepicker.js")
    //- script(src="/js/comm.js")
    block pageScript
