extends layout

block content
  //- [c-box:产品需求列表]
  .c-box
    .c-box-hd.task-list
      .c-box-hd-title
        h3 新建需求
      .c-box-hd-extra
        a.m-btn.btn-skin-1(href='#') 返回需求列表
    .c-box-bd
      //- - form#taskCreateForm(method="POST")
      form#taskCreateForm(method="POST",action="/task/created")
        table#taskCreateTable.m-table-data.task-create-table
          colgroup
            col.c1
            col.c2
            col.c3
            col.c4
            col.c5
            col.c6
            col.c7
            col.c8
            col.c9
          thead
            tr
              th 项目
              th 需求标题
              th.tcenter 页面数
              th.tcenter 需求类型/优先级
              th 相关人员
              th 需求时间
              th 备注
              th 操作
          tbody
            tr.data-line
              td
                select#taskTitle-1(name='type')
                  option(value='', selected='selected') 选择项目
                  if pj.length
                    for project in pj
                      option(value='#{project.id}')= project.name
                p
                  label 
                    input(type='checkbox' name="isCP") 
                    | CP需求?
              td
                input.m-input.inp-txt(type='text',name='title', placeholder='需求标题这里')
              td
                input.m-input.inp-txt(type='number',name='pages', value='1')
              td.tcenter
                select#priorityLv-2(name='priority')
                  option(value='0', selected='selected') P0
                  option(value='1') P1
                  option(value='2') P2
                  option(value='3') P3
                //- input(type='checkbox',name='focus',value='false')
                <select name="focus"><option value="false" selected>否</option><option value="true">是</option></select>
                if user
                  input(type='hidden', name="author", value='#{user.rtx}')
                else
                  input(type='hidden', name="author", value='')
                input(type='hidden', name="create_date", value='#{Date()}')
                input(type='hidden', name="status", value='0')
                input(type='hidden', name="progress", value='0')
              td
                p
                  //- label 网站人员
                  input#SiteStaff0(type='hidden', value='', userchooser='true', name='pp-temp')
                  input#SiteStaff0Value.m-input.inp-txt.inp-staff(type='text', name='pp', autocomplete="off", placeholder='网站人员RTX英文名，多个请用分号隔开', onfocus='_tcc_write_userscript(this.id.replace("Value",""), "1");')
                p 
                  //- label 接 口 人
                  input#interface0(type='hidden', value='', userchooser='true', name='pp-temp')
                  input#interface0Value.m-input.inp-txt.inp-staff2(type='text', name='pp', autocomplete="off", placeholder='接口人RTX英文名', onfocus='_tcc_write_userscript(this.id.replace("Value",""), "1");')
              td
                p
                  //- label 重构开始
                  input.m-input.inp-txt.date-picker(type='text', name='rb_star_date', placeholder='期望重构开始时间')
                  //- label 重构结束
                  input.m-input.inp-txt.date-picker(type='text', name='rb_end_date', placeholder='期望重构结束时间') 
                p
                  //- label 期望上线
                  input.m-input.inp-txt.date-picker(type='text', name='online_date', placeholder='期望上线时间')
              td
                input.m-input.inp-txt(type='text',name='title', placeholder='备注说明')
              td
            //- 插入多一行数据的tr模板
            tr#insertTr.hidden
              //- - console.log(pj);
              td
                select#taskTitle-nnn(name='type')
                  option(value='', selected='selected') 选择项目
                  if pj.length
                    for project in pj
                      option(value='#{project.id}')= project.name
                  //- option(value='TGP') TGP
                  //- option(value='TGA') TGA
                  //- option(value='lol') 英雄联盟
                  //- option(value='speed') QQ飞车
              td
                input.m-input.inp-txt(type='text',name='title', placeholder='需求标题这里')
              td
                select#priorityLv-nnn(name='priority')
                  option(value='0', selected='selected') P0
                  option(value='1') P1
                  option(value='2') P2
                  option(value='3') P3
              td.tcenter
                <select name="focus"><option value="false" selected>否</option><option value="true">是</option></select>
                //- var today = new Date();
                input(type='hidden', name="create_date", value='#{Date()} ')
                if user
                  input(type='hidden', name="author", value='#{user.rtx}')
                else
                  input(type='hidden', name="author", value='')
                input(type='hidden', name="status", value='0')
                input(type='hidden', name="progress", value='0')
              td
                //- input.m-input.inp-txt(type='text', name='pp', placeholder='rtx英文名，多个请用逗号隔开')
                input#StoryDeveloper--x--(type='hidden', value='#{user.rtx}', userchooser='true', name='pp-temp')
                input#StoryDeveloper--x--Value.m-input.inp-txt(type='text', name='pp', autocomplete="off", placeholder='rtx英文名，多个请用逗号隔开', onfocus='_tcc_write_userscript(this.id.replace("Value",""), "1");')
              td
                input.m-input.inp-txt.date-picker-insert(type='text', name='rb_star_date', placeholder='0000-00-00')
              td
                input.m-input.inp-txt.date-picker-insert(type='text', name='rb_end_date', placeholder='0000-00-00')
              td
                input.m-input.inp-txt.date-picker-insert(type='text', name='online_date', placeholder='0000-00-00')
              td
                a.link-delete-task(href="javascript:;") 删除
       
        .task-create-status
          a#btnAppendTask.m-btn.btn-append-task(href='javascript:;') (+)增加1行需求
          p.red.tips
            | Tip:如果需求细节修改，请在完成发布后进入“
            a(href='#') 需求详情页
            | ”进行编辑
        .task-create-btn
          input.m-btn.btn-skin-1.btn-submit(type='submit', value='提交')
          a.m-btn.btn-skin-2(href='javascript:alert("功能开发中，敬请期待")') 导入需求
          a(href='javascript:alert("功能开发中，敬请期待")') （下载excal模板）
        div
          textarea#outputTemp.m-input(name="outputTemp",rows="4",cols="160")

block pageScript
  script(src="/js/jquery/jquery.json-2.4.js")
  script(src="/js/app/comm/m-table-data.js")
  //- 输入人员英文名自动完成js代码，参考itask.oa.com
  script(src="/js/app/oa-user/tcc.js")
  script(src="/js/app/task/create.js")
