extends layout

block content
  //-[c-box:产品需求列表]
  .c-box
    .c-box-hd.task-list
      .c-box-hd-title
        h3 全部需求
      .c-box-hd-extra
        span.tips Tip: 如果需求细节修改，请点击需求名称进入编辑
    .c-box-bd
      if docs.length
        - var i = 1
        table.m-table-data.prd-task-table
          colgroup
            col.c1
            col.c2
            col.c3
            col.c4
            col.c5
            col.c6
          thead
            tr
              th 需求ID
              th 需求名称
              th.tcenter 当前状态
              th.tcenter 总进度
              th.tcenter 上线时间
              th 网站负责人员
          tbody
            for weekly in docs
              tr
                td= weekly._id
                td: a(href="/task/#{weekly.id}") #{weekly.title}
                td.tcenter= weekly.status ? weekly.status : 'N/A'
                td.tcenter= weekly.progress ? weekly.progress : 'N/A'
                td.tcenter= weekly.online_date.toISOString()
                td= weekly.pp
      else
        //- .empty-data -->
        .empty-data
          p 您目前还未发起需求，可先 
            a(href='/task/create') 新建需求