extends layout

block content
  if docs
    - var weekly = docs
    //- task-detail
    .c-box.task-detail
      //- task-detail-title
      .c-box-hd.task-detail-title
        h2= weekly.title
        ul.task-meta-btn
          li
            a.m-btn.btn-skin-1(href='/task') 返回需求列表
          li
            a.m-btn.btn-skin-1(href='/task/edit/'+weekly.id) 编辑需求
          li
            a.m-btn.btn-skin-1(href='task/del/'+weekly.id) 删除需求
      .c-box-bd
        //- task-detail-main
        .task-detail-main
          .task-detail-content
            div= weekly.content
          .task-detail-extra
            .task-detail-attachment
              h4
                | 附件（
                em 1
                | ）
              ul.tda-list
                li
                  p
                    a(href='#') proA.rar
                  cite 2013-08-01
        //- task-detail-side
        .task-detail-side
          .task-detail-side-hd
            h3 需求基本信息：
          .task-detail-side-bd
            ul.task-current-static
              - if (weekly.status =="0")
                li.current 排期中
              - else
                li 排期中
              
              - if (weekly.status =="1")
                li.current 重构中
              - else
                li 重构中

              - if (weekly.status =="2")
                li.current 联调中
              - else
                li 联调中
              
              - if (weekly.status =="3")
                li.current 已上线
              - else
                li 已上线
              //- li 排期中
              //- li.current 重构中
              //- li 联调中
              //- li 已上线
            ul.task-base-information
              li
                label 创建人：
                em= weekly.author
              li
                label 创建时间：
                cite= weekly.create_date ? weekly.create_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').substr(0,11) + weekly.create_date.toLocaleTimeString() : N/A
              li
                label 需求类型：
                em= weekly.type
              li
                label 优先级别：
                em #{'T'+ weekly.priority}
              li
                label 网站负责人：
                em= weekly.pp
              li
                label 需求接口人：
                em= weekly.pm
              li
                label 是否重点：
                em= weekly.focus
              li
                label 期望上线时间：
                cite= weekly.online_date ? weekly.online_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').substr(0,11) : 'N/A'
              li
                label 重构开始时间：
                cite= weekly.rb_star_date ? weekly.rb_star_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').substr(0,11) : 'N/A'
              li
                label 重构结束时间：
                cite= weekly.rb_end_date ? weekly.rb_end_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').substr(0,11) : 'N/A'
              li
                label 页面数：
                em= weekly.pages
        //- task-detail-operate
        .task-detail-operate
          fieldset
            form(action='')
              ul.tdo-list
                li
                  span.tdo-static-title 当前状态：
                  .tdo-static-group
                    label(for='taskStatus-0')
                      input#taskStatus-0(type='radio', name='taskStatus')
                      | 排期中
                    label(for='taskStatus-1')
                      input#taskStatus-1(type='radio', name='taskStatus')
                      | 重构中
                    label(for='taskStatus-2')
                      input#taskStatus-2(type='radio', name='taskStatus')
                      | 联调中
                    label(for='taskStatus-3')
                      input#taskStatus-3(type='radio', name='taskStatus')
                      | 已上线
                    input(id='taskStatus', name='task[status]', type='hidden', value='#{weekly.status}')
                li
                  textarea.m-input.inp-textarea(name='', cols='40', rows='6')
                li.btn
                    input.m-btn.btn-skin-1(type='submit', value='确认修改')
  else
    p error,没有获取到数据

block pageScript
  script.
    (function(){
      function onDomReady(){
        //- alert("hello");
        //- console.log(weekly.status)
        var $taskStatus = $("#taskStatus")
            $inputStatus = $('input[name="taskStatus"]')
            statusVal = $("#taskStatus").val(),
            statusRadioID = "#taskStatus-"+ statusVal;
        $(statusRadioID).attr("checked","checked");

        $inputStatus.click(function(){
            var index = $inputStatus.index($(this))
            console.log(index);
            $taskStatus.val(index)
        })
      }
      $(onDomReady);
    })()