extends layout

block content
  if docs
    - var weekly = docs
    //- task-edit
    .c-box
      .c-box-hd
        .c-box-hd-title
          h3 需求编辑
        .c-box-hd-extra
          a.m-btn.btn-skin-1.btn-task-list(href='/task') 返回需求列表
      .c-box-bd
        form(method="POST", action='/task/update/'+weekly.id)
          ul.task-edit-form
            li
              .task-edit-part
                label.lab 需求ID：
                span= weekly.id
              .task-edit-part
                label.lab 创建者：
                span= weekly.author
            li
              .task-edit-part
                label.lab(for='taskType') 需求类型： 
                select#taskType(name='task[type]')
                  option(value='') 选择项目
                  if pj.length
                    for project in pj
                      if project.id == weekly.type
                        option(value='#{project.id}', selected='selected')= project.name
                      else
                         option(value='#{project.id}')= project.name

              .task-edit-part
                label.lab(for='taskPriority') 优先程度： 
                select#taskType(name='task[priority]')
                  //- for i in 4
                  //-   if (weekly.priority == i)
                  //-     option(value=i, selected='selected') TT
                  //-   else
                  //-     option(value=i) TT
                  - if (weekly.priority == 0)
                     option(value='0', selected='selected') P0
                  - else
                    option(value='0',) P0
                  - if (weekly.priority == 1)
                     option(value='1', selected='selected') P1
                  - else
                    option(value='1',) P1
                  - if (weekly.priority == 2)
                     option(value='2', selected='selected') P2
                  - else
                    option(value='2',) P2
                  - if (weekly.priority == 3)
                     option(value='3', selected='selected') P3
                  - else
                    option(value='3',) P3
            li
              .task-edit-excerpt
                label.lab(for='taskTitle') 标题： 
                input#taskTitle.m-input.inp-txt(name='task[title]', type='text',value=weekly.title)
            li
              .task-edit-excerpt
                label.lab(for='taskFocus') 是否重点需求： 
                - if (weekly.focus)
                  input#taskImportantYes(id='taskFocus', name='task[focus]', type='checkbox', checked="checked") 
                - else
                  input#taskImportantYes(id='taskFocus', name='task[focus]', type='checkbox') 
                a(href='#') 什么是重点需求？
            li
              .task-edit-excerpt
                label.lab(for='taskDescription') 需求描述： 
                textarea#taskDescription.m-input.inp-textarea(name='task[content]', cols='80', rows='10')= weekly.content
            li
              .task-edit-excerpt
                label.lab(for='taskAttachment') 附件： 
                ul.task-attachment-form
                  li
                    input.inp-file(type='file')
                    label.inline 附件说明：
                    input.m-input.inp-txt(type='text')
                    a(href='#') 删除
                  li
                    input.inp-file(type='file')
                    label.inline 附件说明：
                    input.m-input.inp-txt(type='text')
                    a(href='#') 删除
                  li.add
                    a(href='#') 添加
            li
              .task-edit-part
                label.lab(for='hopeOnlineDate') 期望上线时间：
                input#hopeOnlineDate.m-input.inp-txt(name='task[online_date]', type='text', value=weekly.online_date ? weekly.online_date.toISOString().replace(/T/, '').replace(/\..+/, '').substr(0,10) : '未设置')
              .task-edit-part
                label.lab(for='pageQuantity') 页面数：
                input#pageQuantity.m-input.inp-txt(name='task[pages]', type='number', value=weekly.pages)
            li
              .task-edit-part
                label.lab(for='rbStarDate') 重构开始时间：
                input#rbStarDate.m-input.inp-txt(name='task[rb_star_date]', type='text', value=weekly.rb_star_date ? weekly.rb_star_date.toISOString().replace(/T/, '').replace(/\..+/, '').substr(0,10) : '未设置')
              .task-edit-part
                label.lab(for='rbFinishDate') 重构完成时间：
                input#rbFinishDate.m-input.inp-txt(name='task[rb_end_date]', type='text', value=weekly.rb_end_date ? weekly.rb_end_date.toISOString().replace(/T/, '').replace(/\..+/, '').substr(0,10) : '未设置')
            li
              .task-edit-part
                label.lab(for='taskPartner') 网站负责人：
                //- input#taskPartner.m-input.inp-txt(name='task[pp]', type='text', value=weekly.pp)
                input#StoryDeveloper0(type='hidden', value='', userchooser='true')
                input#StoryDeveloper0Value.m-input.inp-txt(type='text',value=weekly.pp, name='task[pp]', autocomplete="off", placeholder='rtx英文名，多个请用分号隔开', onfocus='_tcc_write_userscript(this.id.replace("Value",""), "1");')
              .task-edit-part
                label.lab(for='taskCreator') 需求接口人：
                input#taskCreator.m-input.inp-txt(name='task[pm]', type='text', value=weekly.pm)
            li
              .task-edit-part
                label.lab(for='taskProgress') 当前进度：
                input#taskProgress.m-input.inp-txt(name='task[progress]', type='number', value=weekly.progress)
            li
              .task-edit-excerpt
                label.lab(for='rbStarDate') 当前状态：
                label.inline(for='taskStatus-0')
                  input#taskStatus-0(name='taskStatus', type='radio', checked='checked')
                  | 排期中
                label.inline(for='taskStatus-1')
                  input#taskStatus-1(name='taskStatus', type='radio')
                  | 重构中
                label.inline(for='taskStatus-2')
                  input#taskStatus-2(name='taskStatus', type='radio')
                  | 联调中
                label.inline(for='taskStatus-3')
                  input#taskStatus-3(name='taskStatus', type='radio')
                  | 已上线
                input(id='taskStatus', type='hidden', name='task[status]', value='#{weekly.status}')
            li.btn
              input.m-btn.btn-skin-1(type='submit', value='确认修改')

block pageScript
  //- 人员英文名自动完成js
  script(src="/js/app/oa-user/tcc.js")
  script.
    (function(){
      function onDomReady(){
        //- current nav 
        $(".nav-ul li").eq(1).addClass("current");

        //- alert("hello");
        //- console.log(weekly.status)
        var $taskStatus = $("#taskStatus")
            $inputStatus = $('input[name="taskStatus"]')
            statusVal = $("#taskStatus").val(),
            statusRadioID = "#taskStatus-"+ statusVal;
        $(statusRadioID).attr("checked","checked");

        $inputStatus.click(function(){
            var index = $inputStatus.index($(this))
            console.log(index);
            $taskStatus.val(index)
        })
      }
      $(onDomReady);
    })()
