extends layout

block content
  if docs
    - var weekly = docs
    //- task-detail
    .c-box.task-detail
      //- task-detail-title
      .c-box-hd.task-detail-title
        h2= weekly.title
        ul.task-meta-btn
          li
            a.m-btn.btn-skin-1(href='/task') 返回需求列表
          li
            a.m-btn.btn-skin-1(href='/task/edit/'+weekly.id) 编辑需求
          - console.log(roles);
          if roles == 2 || roles == 1
            li
              a#taskDelBtn.m-btn.btn-skin-1(data-id="#{weekly.id}") 删除需求
        div#tackDoneDiv.task-done-div(class="#{weekly.hidden?'hidden':''}")
          a#taskDoneBtn.m-btn.btn-skin-0(href='javascript:;') 结束需求
          p#taskDoneTips.tips 注：如果需求已完成，请结束需求
        div#tackReDoneDiv.task-redone-div(class="#{weekly.hidden?'':'hidden'}")
          a#taskVoteBtn.m-btn.btn-skin-2(href="javascript:alert('打分功能开发中，敬请期待!');") 请为本次需求打分
          p#taskDoneTips.tips 
          | 若需求未结束？
          a#taskReDoneBtn(href='javascript:;') 重启动此需求
      .c-box-bd
        //- task-detail-main
        .task-detail-main
          .task-detail-content
            div= weekly.content
          .task-detail-extra
            //-.task-detail-attachment
              h4
                | 附件（
                em 1
                | ）
              ul.tda-list
                li
                  p
                    a(href='#') proA.rar
                  cite 2013-08-01
                      .task-detail-side-hd
            .tde-modify
              .tde-modify-hd
                h3 变更历史(#{taskHistory?taskHistory.modify.length:"0"})
              .tde-modify-bd
                ul.task-modify-history.task-modify-history-th
                  li.m1 
                    strong 修改者
                  li.m2
                    strong 字段名
                  li.m3
                    strong 修改后
                  li.m4
                    strong 变更时间
                - var fieldName = {type:"所属项目", priority:"优先级", title:"需求标题", focus:"是否重点需求", pages:"页面数", pp:"网站人员", rb_star_date:"重构开始时间", rb_end_date:"重构结束时间", online_date:"上线时间", pm:"接口人", direction:"其它说明", status:"当前状态", progress:"需求总进度", hidden:"结束需求"}
                if taskHistory
                  div.task-modify-wrapper
                    for hh in taskHistory.modify
                      ul.task-modify-history
                        li.m1= hh.editor
                        li.m2= fieldName[hh.efield]
                        li.m3= hh.evalue_after
                        li.m4= hh.edate ? hh.edate.toISOString().replace(/T/, ' ').replace(/\..+/, '').substr(0,11) + hh.edate.toLocaleTimeString() : 'N/A'



        //- task-detail-side
        .task-detail-side
          .task-detail-side-hd
            h3 需求基本信息：
          .task-detail-side-bd
            ul.task-current-static
              - if (weekly.status =="0")
                li.current 排期中
              - else
                li 排期中
              
              - if (weekly.status =="1")
                li.current 重构中
              - else
                li 重构中

              - if (weekly.status =="2")
                li.current 联调中
              - else
                li 联调中
              
              - if (weekly.status =="3")
                li.current 已上线
              - else
                li 已上线
              //- li 排期中
              //- li.current 重构中
              //- li 联调中
              //- li 已上线
            ul.task-base-information
              li
                label 创建人：
                em= weekly.author
              li
                label 创建时间：
                cite= weekly.create_date ? weekly.create_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').substr(0,11) + weekly.create_date.toLocaleTimeString() : N/A
              li
                label 项目类别：
                if projectName
                  em= projectName[weekly.type]
                else
                  em= weekly.type
              li
                label 优先级别：
                em #{'P'+ weekly.priority}
              li
                label 网站负责人：
                em= weekly.pp
              li
                label 需求接口人：
                em= weekly.pm
              li
                label 是否重点：
                em= weekly.focus
              li
                label 期望上线时间：
                cite= weekly.online_date ? weekly.online_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').substr(0,11) : 'N/A'
              li
                label 重构开始时间：
                cite= weekly.rb_star_date ? weekly.rb_star_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').substr(0,11) : 'N/A'
              li
                label 重构结束时间：
                cite= weekly.rb_end_date ? weekly.rb_end_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').substr(0,11) : 'N/A'
              li
                label 页面数：
                em= weekly.pages


        //- task-detail-operate
        .task-detail-operate(data-collection="Weekly")
          fieldset
            form(action='')
              ul.tdo-list
                li
                  span.tdo-static-title 当前状态：
                  .tdo-static-group
                    label(for='taskStatus-0')
                      input#taskStatus-0(type='radio', name='taskStatus')
                      | 排期中
                    label(for='taskStatus-1')
                      input#taskStatus-1(type='radio', name='taskStatus')
                      | 重构中
                    label(for='taskStatus-2')
                      input#taskStatus-2(type='radio', name='taskStatus')
                      | 联调中
                    label(for='taskStatus-3')
                      input#taskStatus-3(type='radio', name='taskStatus')
                      | 已上线
                    input(id='taskStatus', name='task[status]', type='hidden', data-name='status', value='#{weekly.status}', data-id='#{weekly.id}')
                li
                  textarea.m-input.inp-textarea(name='', cols='40', rows='6',disabled='disabled') 评论功能开发中
                li.btn
                    input.m-btn.btn-skin-3(type='submit', value='确认修改',disabled="disabled")
  else
    p error,没有获取到数据

  div.callback-msg#ajaxCallbackMsg hello
block pageScript
  script.
    (function(){
      function onDomReady(){
        //- current nav 
        $(".nav-ul li").eq(1).addClass("current");

        //- alert("hello");
        //- console.log(weekly.status)
        var $taskStatus = $("#taskStatus"),
              taskDataId = $taskStatus.attr("data-id"),
              fieldName = $taskStatus.attr("data-name"),
              dbCollection = $('.task-detail-operate').attr("data-collection"),
            $inputStatus = $('input[name="taskStatus"]'),
              statusVal = $("#taskStatus").val(),
              statusRadioID = "#taskStatus-"+ statusVal,
            $taskDelBtn = $("#taskDelBtn");

        $(statusRadioID).attr("checked","checked");

        //- 修改需求状态事件 ------------------------
        $inputStatus.click(function(){
            var index = $inputStatus.index($(this));
            $taskStatus.val(index);

            var postData = {};
                postData.id = taskDataId,
                postData.dbCollection = dbCollection,
                postData[fieldName] = $taskStatus.val();
            // 数据送ajax保存
            //- console.log(postData);
            appAjax.updateSet(postData);

        })

        //- 删除需求事件 ------------------------
        $taskDelBtn.on("click",function(){
          var _self = $(this),
              taskID = _self.attr("data-id"),
              url = "/task/del/"+taskID,
              answer = confirm("确认删除此需求？（如果需求已完成，请点击右边的需求完成按钮！）");
          
          if(answer){
            $(location).attr("href",url);
          }
        })

        //- 结束需求事件
        $("#taskDoneBtn").bind("click",function(){
          var postData = {};
              postData.id = $(location).attr("pathname").replace("/task/","");
              postData.dbCollection = "Weekly",
              postData.hidden = true;
          console.log(postData);
          var callBackFunction = function(){
            $("#tackDoneDiv").addClass("hidden");
            $("#tackReDoneDiv").removeClass("hidden");
          }
          // 数据送ajax保存
          appAjax.updateSet(postData,callBackFunction);
        })

        //- 重启需求事件
        $("#taskReDoneBtn").bind("click",function(){
          var postData = {};
              postData.id = $(location).attr("pathname").replace("/task/","");
              postData.dbCollection = "Weekly",
              postData.hidden = false;
          console.log(postData);
          var callBackFunction = function(){
            $("#tackReDoneDiv").addClass("hidden");
            $("#tackDoneDiv").removeClass("hidden");
          }
          // 数据送ajax保存
          appAjax.updateSet(postData,callBackFunction);
        })

      }
      $(onDomReady);
    })()