extends layout

block content
  if docs.dobj
    - var weekly = docs.dobj
    //- task-detail
    .c-box.task-detail
      //- task-detail-title
      .c-box-hd.task-detail-title
        h2= weekly.title
        ul.task-meta-btn
          li
            a.m-btn.btn-skin-1(href='/task') 返回需求列表
          li
            a.m-btn.btn-skin-1(href='/task/edit/'+weekly.id) 编辑需求
          - console.log(roles);
          if roles == 2 || roles == 1
            li
              a#taskDelBtn.m-btn.btn-skin-1(data-id="#{weekly.id}") 删除需求
        div#tackDoneDiv.task-done-div(class="#{weekly.hidden?'hidden':''}")
          a#taskDoneBtn.m-btn.btn-skin-0(href='javascript:;') 结束需求
          p#taskDoneTips.mtips 注：如果需求已完成，请结束需求
        div#tackReDoneDiv.task-redone-div(class="#{weekly.hidden?'':'hidden'}")
           - if(!!weekly.score)
               span.scorespan 此需求已完成！评分#{weekly.score}分
               p#sugcontp #{weekly.suggestion}
           - else
               a#taskVoteBtn.m-btn.btn-skin-2(href="javascript:") 请为本次需求打分
          

            p.taskDoneTips
            | 若需求未结束？
            a#taskReDoneBtn(href='javascript:;') 重启动此需求
        
        div.dialog-task-score(style='display:none')
          div.dts-hd
            h3 需求打分与评论
            a.close(href="javascript:", onclick="this.parentNode.parentNode.style.display='none'") &times;
          div.dts-bd
            form#task-score-form(method="POST",enctype="multipart/form-data",action='/task/taskscore/'+weekly.id)
              h4 请您为本次需求服务评分
              ul.score-list
                li
                  input#scoreSet1(type="radio", name="scoreSet",value='5')
                  label(for="scoreSet1") 5分（及时响应，准时上线，主动沟通并提出见解）
                li
                  input#scoreSet2(type="radio", name="scoreSet",value='4')
                  label(for="scoreSet2") 4分（沟通反馈及时，准时上线，少BUG）
                li
                  input#scoreSet3(type="radio", name="scoreSet",value='3')
                  label(for="scoreSet3") 3分（准时上线，但反馈不及时，后续BUG多）
                li
                  input#scoreSet4(type="radio", name="scoreSet",value='2')
                  label(for="scoreSet4") 2分（准时上线，但反馈不及时，后续BUG多）
                li
                  input#scoreSet5(type="radio", name="scoreSet",value='1')
                  label(for="scoreSet5") 1分（服务不给力，响及不及时，上线问题多多）

              h4 请告诉我们如何做得更好？
              textarea#xx(name="suggestion", rows="4", cols="20", class="inp-textarea")
              input.m-btn.btn-skin-4(type='submit', value='提交评分')




      .c-box-bd
        //- task-detail-main
        .task-detail-main
          .task-detail-content
            div#weeklycontentdiv
          .task-detail-extra
            if weekly.attachment.length
              .task-detail-attachment
                h4
                  | 附件(
                  em #{weekly.attachment.length}
                  | )
                ul.tda-list
                  - for num in weekly.attachment
                     li
                       -var fpnum = (num.attpath).lastIndexOf('/');
                       -var filename = num.attpath.substring(fpnum);
                       a(href='/downloadattach'+'#{filename}',target="_blank") #{num.attfilename}
                       - var sizenum = num.attsize-0, sizestr='';
                       - if(sizenum>1024*1024*1024)
                           sizestr = (sizenum/(1024*1024*1024)).toFixed(2) + 'G';
                       - else if(sizenum>1024*1024)
                           sizestr = (sizenum/(1024*1024)).toFixed(2) + 'M';
                       - else if(sizenum>1024)
                           sizestr = (sizenum/1024).toFixed(2) + 'KB';
                       - else
                           sizestr = sizenum + 'B';
                       span (#{sizestr})
                       cite #{num.attperson}
                       - if(!!num.attuptime)
                          - var atttime=num.attuptime
                          - var nowtimestr = atttime.getFullYear() + '-' + ((atttime.getMonth()<9)? '0'+(atttime.getMonth()+1) : atttime.getMonth()+1) + '-' + ((atttime.getDate()<10)? '0'+atttime.getDate() : atttime.getDate()) + ' ' + ((atttime.getHours()<10)? '0'+atttime.getHours() : atttime.getHours()) + ':' + ((atttime.getMinutes()<10)? '0'+atttime.getMinutes() : atttime.getMinutes()) + ':' + ((atttime.getSeconds()<10)? '0'+atttime.getSeconds() : atttime.getSeconds()); 
                       - else
                          - var nowtimestr='';
                       cite #{nowtimestr}
                       - if(num.attdetail != ' ')
                          cite.desc #{num.attdetail}

                          
            .tde-modify
              .tde-modify-hd
                h3 变更历史(#{taskHistory?taskHistory.modify.length:"0"})
              .tde-modify-bd
                ul.task-modify-history.task-modify-history-th
                  li.m1 
                    strong 修改者
                  li.m2
                    strong 字段名
                  li.m3
                    strong 修改后
                  li.m4
                    strong 变更时间
                - var fieldName = {type:"所属项目", priority:"优先级", title:"需求标题", focus:"是否重点需求", pages:"页面数", pp:"网站人员", rb_star_date:"重构开始时间", rb_end_date:"重构结束时间", online_date:"上线时间", pm:"接口人", direction:"其它说明", status:"当前状态", progress:"需求总进度", hidden:"结束需求"}
                if taskHistory
                  div.task-modify-wrapper
                    for hh in taskHistory.modify
                      ul.task-modify-history
                        li.m1= hh.editor
                        li.m2= fieldName[hh.efield]
                        li.m3= hh.evalue_after
                        li.m4= hh.edate ? hh.edate.toISOString().replace(/T/, ' ').replace(/\..+/, '').substr(0,11) + hh.edate.toLocaleTimeString() : 'N/A'



        //- task-detail-side
        .task-detail-side
          .task-detail-side-hd
            h3 需求基本信息：
          .task-detail-side-bd
            ul.task-current-static
              - if (weekly.status =="0")
                li.current 排期中
              - else
                li 排期中

              - if (weekly.status =="4")
                li.current 设计中
              - else
                li 设计中              

              - if (weekly.status =="1")
                li.current 重构中
              - else
                li 重构中

              - if (weekly.status =="2")
                li.current 联调中
              - else
                li 联调中
              
              - if (weekly.status =="3")
                li.current 已上线
              - else
                li 已上线
              //- li 排期中
              //- li.current 重构中
              //- li 联调中
              //- li 已上线
            ul.task-base-information
              li
                label 创建人：
                em= weekly.author
              li
                label 创建时间：
                cite= weekly.create_date ? weekly.create_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').substr(0,11) + weekly.create_date.toLocaleTimeString() : N/A
              li
                label 项目类别：
                if projectName
                  em= projectName[weekly.type]
                else
                  em= weekly.type
              li
                label 优先级别：
                em #{'P'+ weekly.priority}
              li
                label 网站负责人：
                em= weekly.pp
              li
                label 需求接口人：
                em= weekly.pm
              li
                label 是否重点：
                em= weekly.focus ? "是" : "否"
              li
                label 期望上线时间：
                cite= weekly.online_date ? weekly.online_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').substr(0,11) : 'N/A'
              li
                label 重构开始时间：
                cite= weekly.rb_star_date ? weekly.rb_star_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').substr(0,11) : 'N/A'
              li
                label 重构结束时间：
                cite= weekly.rb_end_date ? weekly.rb_end_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').substr(0,11) : 'N/A'
              li
                label 页面数：
                em= weekly.pages
              //- li
                label 其它说明：
                em= weekly.direction             

        - if (!!(weekly.comments.length))
            .tdo-comment
              .tdo-comment-hd
                h4 
                  | 评论/处理意见(
                  em #{weekly.comments.length}
                  | )
              ul.tdo-comment-ul#commentListUl
                - for ct in docs.commentArr
                  li.tdo-comment-item
                    .tdo-comment-hd
                      h5 #{ct.commentname}
                        span.role （#{ct.commentrole}）
                      - if(!!ct.commenttime)
                        - var comttime=ct.commenttime;
                        - var nowtimestr2 = comttime.getFullYear() + '-' + ((comttime.getMonth()<9)? '0'+(comttime.getMonth()+1) : comttime.getMonth()+1) + '-' + ((comttime.getDate()<10)? '0'+comttime.getDate() : comttime.getDate()) + ' ' + ((comttime.getHours()<10)? '0'+comttime.getHours() : comttime.getHours()) + ':' + ((comttime.getMinutes()<10)? '0'+comttime.getMinutes() : comttime.getMinutes()) + ':' + ((comttime.getSeconds()<10)? '0'+comttime.getSeconds() : comttime.getSeconds()); 
                      - else
                        - var nowtimestr2='';
                      cite #{nowtimestr2}
                      - if(docs.person == ct.commentname)
                        span.edit
                          span.idnum #{ct._id}
                          a.comtedit(href="javascript:", onclick='comteditfun(this)', data-able='1') 编辑
                          a.comtdel(href="javascript:",onclick='comsdelfun(this)') 删除
                    form
                      textarea.hidetextarea(id='#{ct._id}',name='data[textarea]') #{ct.commentcontent}
                      input.m-btn.subbtn.btn-skin-1(type='submit', value='确认修改')
                      a.m-btn.cancelbtn.btn-skin-1 取消
                    .tdo-comment-bd
                    

              - var comsArr = weekly.comments;
              - var comsL = comsArr.length;
              - var pages = Math.ceil(comsL/5);
              - if(!! docs.pageCur)
                  pageCur = docs.pageCur;
              - else
                  pageCur =1

              if pages >1
                .m-page.page-skin-0#pagenumbar
                  .m-page-total
                    span.m-page-total-page 共#{pages}页
                  .m-page-pn
                    a.m-page-pn_disabled(href='javascript:pagenumfun(1);') 首页
                    if pageCur < 2
                      span.m-page-pn-current #{pageCur}
                      if pageCur < pages
                        a(href='javascript:pagenumfun('+ (pageCur+1) +');') #{pageCur+1}
                        if (pages - pageCur) > 1
                          a(href='javascript:pagenumfun('+ (pageCur+2) +');') #{pageCur+2}
                        if (pages - pageCur) > 2
                          a(href='javascript:pagenumfun('+ (pageCur+3) +');') #{pageCur+3}
                        span.m-page-pn-ellipsis ...
                    else
                      if pageCur >3
                        a(href='javascript:pagenumfun('+ (pageCur-3) +');') #{pageCur-3}
                      if pageCur >2
                        a(href='javascript:pagenumfun('+ (pageCur-2) +');') #{pageCur-2}
                      a(href='javascript:pagenumfun('+ (pageCur-1) +');') #{pageCur-1}
                      span.m-page-pn-current #{pageCur}
                      if pageCur < pages
                        a(href='javascript:pagenumfun('+ (pageCur+1) +');') #{pageCur+1}
                        if (pages - pageCur) > 1
                          a(href='javascript:pagenumfun('+ (pageCur+2) +');') #{pageCur+2}
                        if (pages - pageCur) > 2
                          a(href='javascript:pagenumfun('+ (pageCur+3) +');') #{pageCur+3}
                        span.m-page-pn-ellipsis ...
                    a(href='javascript:pagenumfun('+ pages +');') 尾页



        //- task-detail-operate
        .task-detail-operate(data-collection="Weekly")
          fieldset
            form(method="POST",enctype="multipart/form-data",action='/task/comment/'+weekly.id)
              ul.tdo-list
                li
                  span.tdo-static-title 当前状态：
                  .tdo-static-group
                    label(for='taskStatus-0')
                      input#taskStatus-0(type='radio', name='taskStatus', data-value='0')
                      | 排期中
                    label(for='taskStatus-4')
                      input#taskStatus-4(type='radio', name='taskStatus', data-value='4')
                      | 设计中
                    label(for='taskStatus-1')
                      input#taskStatus-1(type='radio', name='taskStatus', data-value='1')
                      | 重构中
                    label(for='taskStatus-2')
                      input#taskStatus-2(type='radio', name='taskStatus', data-value='2')
                      | 联调中
                    label(for='taskStatus-3')
                      input#taskStatus-3(type='radio', name='taskStatus', data-value='3')
                      | 已上线
                    input(id='taskStatus', name='task[status]', type='hidden', data-name='status', value='#{weekly.status}', data-id='#{weekly.id}')
                li
                  textarea.m-input.inp-textarea#commentarea(name='commenttext', cols='40', rows='6') 您可以在此处发表评论...
                //li.btn
                li.updatebtn
                  input.m-btn.btn-skin-1(type='submit', value='确认修改')
  else
    p error,没有获取到数据

  div.callback-msg#ajaxCallbackMsg hello
block pageScript
  script.
    (function(){
      function onDomReady(){
        //- current nav 
        $(".nav-ul li").eq(1).addClass("current");

        //- alert("hello");
        //- console.log(weekly.status)
        var $taskStatus = $("#taskStatus"),
              taskDataId = $taskStatus.attr("data-id"),
              fieldName = $taskStatus.attr("data-name"),
              dbCollection = $('.task-detail-operate').attr("data-collection"),
            $inputStatus = $('input[name="taskStatus"]'),
              statusVal = $("#taskStatus").val(),
              statusRadioID = "#taskStatus-"+ statusVal,
            $taskDelBtn = $("#taskDelBtn");

        $(statusRadioID).attr("checked","checked");

        //- 修改需求状态事件 ------------------------
        $inputStatus.click(function(){
            //- var index = $inputStatus.index($(this));
            var index = $(this).attr("data-value");
            $taskStatus.val(index);

            var postData = {};
                postData.id = taskDataId,
                postData.dbCollection = dbCollection,
                postData[fieldName] = $taskStatus.val();
            // 数据送ajax保存
            console.log(postData);
            appAjax.updateSet(postData);

        })

        //- 删除需求事件 ------------------------
        $taskDelBtn.on("click",function(){
          var _self = $(this),
              taskID = _self.attr("data-id"),
              url = "/task/del/"+taskID,
              answer = confirm("确认删除此需求？（如果需求已完成，请点击右边的需求完成按钮！）");
          
          if(answer){
            $(location).attr("href",url);
          }
        })

        //- 结束需求事件
        $("#taskDoneBtn").bind("click",function(){
          var postData = {};
              postData.id = $(location).attr("pathname").replace("/task/","");
              postData.dbCollection = "Weekly";
              postData.hidden = true;
          console.log(postData);
          var callBackFunction = function(){
            $("#tackDoneDiv").addClass("hidden");
            $("#tackReDoneDiv").removeClass("hidden");
          }
          // 数据送ajax保存
          appAjax.updateSet(postData,callBackFunction);
        })

        //- 重启需求事件 edited by v_xhshen 2014-01-14
        $("#taskReDoneBtn").bind("click",function(){
          var postData = {};
              postData.id = $(location).attr("pathname").replace("/task/","");
              postData.dbCollection = "Weekly";
              postData.hidden = false;
              postData.score = 0;
          console.log(postData);
          var callBackFunction = function(){
            location.reload(true);
            //$("#tackReDoneDiv").addClass("hidden");
            //$("#tackDoneDiv").removeClass("hidden");
          }
          // 数据送ajax保存
          appAjax.updateSet(postData,callBackFunction);
        })

      }
      $(onDomReady);
    })()

  //- Add by v_xhshen 2014-01-20---------------------------------------------------start
  link(type='text/css', rel='stylesheet', href='http://tdl.oa.com/tfl/css/compress/topnav|header|mainnav|ico|dialog|dropdown|tab|step|tips|cluetip|datepicker|dkselect|filter|skin0.css?v=20131225')
  link(type='text/css', rel='stylesheet', href='http://tdl.oa.com/tfl/css/tfl-editor.css?v=20131225')
  link(type='text/css', rel='stylesheet', href='http://tdl.oa.com/tfl/css/tfl-tips.css?v=20131225')
  style(type='text/css').
    .tdo-list .inp-textarea{ height:24px;}
    #task-score-form #xx{margin-bottom:12px;}
    .scorespan{ color:#ff6600; display:block; font-weight:bold; font-size:13px; margin-bottom:10px;}
    #sugcontp{ margin-bottom:12px; text-align:left; text-indent:2em;}
    #task-score-form h4 b{color:red;}
    #task-score-form #resetscore{ padding:0 0.8em; height:1.5em; line-height:1.35em; margin-bottom:14px;}
    #contentIframe{ width:100%;}
    fieldset{ border:none;}
    
  script.
    var tfl_path = 'http://tdl.oa.com/tfl/';
    var tfl_tag = '20131225';

  script(type='text/javascript', src='http://tdl.oa.com/tfl/js/tfl-core.js')
  script(src="http://tdl.oa.com/tfl/js/tfl-editor.js?v=20131225")
  script.
    //需求内容
    var weeklycontstr = '#{weekly.content}';
    weeklycontstr = weeklycontstr.replace(/&lt;/g,'<');
    weeklycontstr = weeklycontstr.replace(/&gt;/g,'>');
    weeklycontstr = weeklycontstr.replace(/&amp;/g,'&');
    weeklycontstr = weeklycontstr.replace(/&quot;/g,'"');
    document.getElementById('weeklycontentdiv').innerHTML = weeklycontstr;

  script(src="/js/editor/task_detail.js")
  //- Add by v_xhshen 2014-01-20---------------------------------------------------end